<p-carousel  [numVisible]="3" [numScroll]="3" [circular]="false">
  <ng-template let-product pTemplate="item">
    <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
      <p-card header="Title">
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
        </p>
      </p-card>
      <p-card header="Title">
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
        </p>
      </p-card>
    </div>
  </ng-template>
</p-carousel>
