<script src="../../components/sidebar/sidebar.component.ts"></script>
<script src="../../app.config.ts"></script>
<div
  class="justify-content-between text-white  max-w-full max-h-full
  lg:max-h-full  lg:flex lg:gap-0 lg:p-6 lg:h-lvh ">
  <app-sidebar></app-sidebar>
  <div class="search lg:mx-auto lg:w-5/6">
    <div class="w-full">
      <div class="relative">
        <input type="search" id="default-search" [(ngModel)]="userSearch" (keyup)="search()"
               class="bg-transparent pl-10 hover:border-b hover:border-b-gray-600 font-extralight text-lg  focus:ring-blue-500 focus:border-white block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-dark:focus:border-white hover:border-white outline-0 active:border-none"
               placeholder="Search for movies or TV series">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
               fill="none" viewBox="0 0 20 20">
            <path stroke="#FFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
        </div>
      </div>
    </div>
    <div clang servess="my-4">
      <h1 class="text-2xl font-light my-2">Trending</h1>
      <div class="flex  gap-8 lg:w-full justify-between lg:flex lg:w-full lg:gap-8 overflow-x-auto overflow-scroll no-scrollbar ">
        <app-trending *ngFor=" let movie of TrendingList" [movieList]="movie"></app-trending>
      </div>
    </div>
    <div>
      <h1 class="text-2xl  font-light my-2"> Recommended for you</h1>
      <div class="grid grid-cols-2 lg:grid-cols-4 gap-8">
        <app-movie-list
          *ngFor=" let movie of movieList" [movieList]="movie"
        ></app-movie-list>
      </div>
    </div>
  </div>
</div>


