
<script src="../../environments/environment.development.ts"></script>
<div
  class="justify-content-between text-white  max-w-full max-h-full
  lg:max-h-full  lg:flex lg:gap-0 lg:p-6 lg:h-lvh ">
  <app-sidebar></app-sidebar>
  <div class="lg:mx-auto lg:w-5/6">
    <app-search></app-search>
    <div>
      <h1 class="text-2xl my-8 font-light"> Bookmarked Movies</h1>
      <div class="grid grid-cols-2 lg:grid-cols-4 gap-6">
        <app-movie-list
          *ngFor=" let movie of movieList" [movieList]="movie"
        ></app-movie-list>
      </div>
    </div>
  </div>
</div>


